#containers {
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: calc(100% - 500px);
    /* width: 700px; */
    min-height:80vh;
    border-radius: 15px;
    /* font-size: 50px; */
    /* overflow: hidden; */
    position: relative;

    /* display: flex;
    justify-content: center;
    align-items: center; */
  }


  .tt{
    width: 30px;
  height: 30px;
    /* padding: 5px;
    box-sizing: border-box; */
    background: red;
    /* background-image:url('');
    background-size: contain; */
    float: left;
    position: absolute;
    bottom: 6px;
    left: 32px;
    z-index: 22;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

  }



.tt img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


 
  .tooltip-inner {background-color: transparent;}